name: Sync Upstream

on:
  schedule:
    - cron: '0 0 * * *' # 每天凌晨0点执行一次
  workflow_dispatch:      # 允许手动点击按钮触发同步

jobs:
  sync_latest_from_upstream:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout target repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Sync upstream changes
        id: sync
        uses: aieri/sync-upstream@v1.0.1
        with:
          upstream_repo: "上游用户名/仓库名"
          upstream_branch: "main" # 或者是 master
          target_branch: "main"   # 你的分支名
          github_token: ${{ secrets.GITHUB_TOKEN }}
